<!doctype HTML>

<html>
	<head>
		<title>Mattykins | Independent Games Developer</title>

		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/main.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" sizes="16x16">
	</head>
	<body>
		<div id="top"></div>
		<div id="logo">
			<img  src="/assets/logo.png" />
			</diV>
			<div id="main">
				<div id="main-inner">
					<div id="nav" class="row">
						<div class="col-md-12">
							<ul>
								<li class="{{#if_eq activeRoute 'home'}}active{{/if_eq}}"><a href="/">Home</a></li>
								<li class="{{#if_eq activeRoute 'games'}}active{{/if_eq}}"><a href="/games">Games</a></li>
								<li class="{{#if_eq activeRoute 'contact'}}active{{/if_eq}}"><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div id="page-root">
						{{{body}}}
					</div>
				</div>
			</div>
			<p id="copyright">&copy; 2017 - Matthew Roelle</p>

		 	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117928112-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  	  function gtag(){dataLayer.push(arguments);}
			  	  gtag('js', new Date());

			  	  gtag('config', 'UA-117928112-1');
			</script>

	</body>
</html>
